// app global css in SCSS form

.text-alabaster {
  color: #a2aa33;
}
.bg-alabaster {
  background: #f3f0e5;
}

.text-soapstone {
  color: #eae4da;
}

.bg-soapstone {
  background: #eae4da;
}

.text-judge-gray {
  color: #5a544d;
}

.bg-judge-gray {
  background: #5a544d;
}

.shadow-down-on-alabaster-1 {
  box-shadow: 0 1px #BBB;
}

.rounded-base {
  border-radius: 14px;
}

.rounded-md {
  border-radius: 18px;
}

.smooth-corners {
  --smooth-corners: 2.6;
  mask-image: paint(smooth-corners);
}

.modal-top-raduis-sm {
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
}
