// app global css in SCSS form

.text-alabaster {
  color: #a2aa33;
}
.bg-alabaster {
  background: #f3f0e5;
}

.shadow-down-on-alabaster-1 {
  box-shadow: 0 1px #BBB;
}

.rounded-base {
  border-radius: 14px;
}
